<h1 class="printable-table">Equipe</h1>
<%= link_to "Adicionar", new_team_path, class: "non-printable button small" %>
<%= link_to_function "Imprimir", "window.print()", id: "printButton", class: "button secondary small" %>
<br/><br/>
<div class="printable-table">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tel.</th>
        <th>Cel.</th>
        <th>Igreja</th>
        <th class="non-printable"><th>
        <th class="non-printable"><th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= team.phone %></td>
          <td><%= team.cel_phone %></td>
          <td><%= team.church %></td>
          <td class="non-printable"><%= link_to "Editar", edit_team_path(team) %></td>
          <td class="non-printable"><%= link_to 'Apagar', team_path(team), confirm: 'Tem certeza?', method: :delete %></td>
          <td class="non-printable"><%= link_to 'Crachá', name_tags_teams_path(ids: team.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>