<%= form_for @participant do |f| %>
  <%= error_messages_for @participant %>
    
  <div class="row">
    <div class="large-4 columns">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :full_name, 'Nome Completo' %>
      <%= f.text_field :full_name %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :church, 'Igreja' %>
      <%= f.text_field :church %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :couple, 'Casal que convidou' %>
      <%= f.text_field :couple %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :health_obs, 'Obs. de Saúde' %>
      <%= f.text_area :health_obs %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :phone, 'Telefone' %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :cel_phone, 'Celular' %>
      <%= f.text_field :cel_phone %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :children, 'Qtd. de filhos' %>
      <%= f.text_field :children %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :address, 'Endereço' %>
      <%= f.text_area :address %>
    </div>
  </div>

  <div class="row collapse">
    <%= f.submit btn_text, class: "button radius" %>
    <%= link_to "Cancelar", participants_path, class: 'button secondary' %>
  </div>
<% end %>
