<%= link_to_function "Imprimir", "window.print()", id: "printButton", class: "button small" %>
<div id="printable-name-tag">
  <div class="row">
    <% @people.each_with_index do |person, i| %>
      <div class="name_tag">
        <div>
          <%= image_tag("hearts.png") %>&nbsp;&nbsp;&nbsp;
          47ยบ ECC - Maranata
        </div>
        <p><%= person.husband_full_name %></p>
      </div>
      <div class="name_tag">
        <div>
          <%= image_tag("hearts.png") %>&nbsp;&nbsp;&nbsp;
          47ยบ ECC - Maranata
        </div>
        <p><%= person.wife_full_name %></p>
      </div>
    <% end %>
  </div>
</div>