<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "print" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <style type="text/css">

      @media print
      {
        #non-printable { display: none; }
        #printButton { display: none; }
        .row { width: 100%; }
        #printable { display: block; width: 100%;}

        .name_tag {
          border: 1px solid;
          width: 244.36pt; /* Original size here is 253.36pt */
          height: 144.78pt;
          float: left;
        }
        .name_tag div {
          font-size: 16px;
          margin: 15px 0 0 10px;
        }
        .name_tag p {
          text-align: center;
          margin-top: 45px;
          font-size: 28px;
        }

        .tag {
          border: 1px solid;
          width: 203.46px; /* Original size here is 253.46px */
          height: 92.72px;
          float: left;
        }
        .tag div {
          text-align: center;
          margin-top: 5px;
        }
        .tag p {
          text-align: center;
          margin-top: 12px;
          font-size: 20px;
        }
      }
    </style>
  </head>

  <body>
    <div id="non-printable">
      <%= render "layouts/navbar" %>

      <div class="row">
        <div class="small-12 columns"><%= yield %></div>
      </div>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
