<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Encontro de Casais com Cristo" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <style type="text/css">

      @media print
      {
        .non-printable { display: none; }
        #printButton { display: none; }
        .row { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

        /* TABLE */
        .printable-table { display: block; }
        .printable-table table { border-collapse: collapse; }
        .printable-table table tbody td { border: 1px solid; }
        tr { page-break-inside:avoid; }
        td { page-break-inside:avoid; }
        /* END OF TABLE */

        /* NAME TAGS */
        #printable-name-tag { display: block; }
        #printable-tag {
          display: block;
        }
        .name_tag {
          border: 1px solid;
          width: 240.00pt; /* Original size here is 336px */
          height: 135.00pt; /* Original size here is 192px */
          float: left;
          page-break-inside: avoid;
        }
        .name_tag div {
          font-size: 16px;
          margin: 15px 0 0 10px;
        }
        .name_tag p {
          text-align: center;
          margin-top: 45px;
          font-size: 30px;
          font-weight: bold;
        }
        /* END OF NAME TAGS */

        /* TAGS */
        .tag {
          margin: 0 21px 0 0;
          /*border: 1px solid;*/
          width: 205px;
          height: 90px;
          float: left;
          page-break-inside: avoid;
        }
        .tag div {
          text-align: center;
          margin-top: 10px;
        }
        .tag p {
          text-align: center;
          margin-top: 12px;
          font-size: 20px;
        }
        /* END OF TAGS */
      }
    </style>
  </head>

  <body>
    <div class="non-printable">
      <%= render "layouts/navbar" %>

      <div class="row">
        <div class="small-12 columns"><%= yield %></div>
      </div>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
